# Domain publik untuk akses Airflow
PUBLIC_DOMAIN=airflow.example.com
AIRFLOW_PUBLIC_BASE_URL=https://airflow.example.com
METABASE_PUBLIC_DOMAIN=metabase.example.com
METABASE_PUBLIC_BASE_URL=https://metabase.example.com

# Admin Airflow (WAJIB diganti)
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME_STRONG_PASSWORD
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Kunci Airflow (generate sendiri)
# Contoh generate:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
# python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__CORE__FERNET_KEY=CHANGE_ME_FERNET_KEY
AIRFLOW__WEBSERVER__SECRET_KEY=CHANGE_ME_WEBSERVER_SECRET
METABASE_ENCRYPTION_SECRET_KEY=CHANGE_ME_METABASE_SECRET

# API
API1_URL=https://dtrace.id/api/senesa/wallet/logistic-orders
API1_LIMIT=100
API2_URL=https://dtrace.id/api/spx/orders
API2_LIMIT=100

# DB
DB_HOST=postgres
DB_PORT=5432
DB_NAME=returns_db
DB_USER=admin
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
